NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/SereniCare
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@example.com
EMAIL_PASSWORD=your-email-password
